<div
  class="{{ block_base_classes }} my-5 group-first:mt-0"
  data-disable-variance
  {{ block.shopify_attributes }}
>
  <div class="rte rte--compact text-theme-basic">
    {{ block.settings.content }}
  </div>
</div>

