<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Spots Eliminating Elixir</title>
    <style>
      /* General Styles */
      .accordion-container, .vertical-tab-content-container {
          width: 100%;
      }

      .accordion-container {
          background-color: #e2f4ffff;
      }

      .accordion-button, .smaller-accordion-button {
          cursor: pointer;
          padding: 12px;
          border: 2px solid #2073A0; /* Your preferred border color */
          border-bottom: none;
          background-color: inherit;
          width: 100%;
          outline: none;
          transition: background-color 0.3s;
          display: flex;
          align-items: center;
          justify-content: flex-start; /* Align content to the left */
      }

      .accordion-button::after, .smaller-accordion-button::after {
          content: '↓';
          font-size: 15px;
          transition: transform 0.3s;
          margin-left: auto; /* Push the arrow to the right */
      }

      .accordion-button.active, .smaller-accordion-button.active {
          color: #000000;
          font-weight: bold;
          background-color: #e2f4ffff;
      }

      .accordion-button.active::after, .smaller-accordion-button.active::after {
          transform: rotate(90deg);
          color: #000000;
          font-weight: bold;
      }

      .accordion-button:last-of-type, .smaller-accordion-button:last-of-type {
          border-bottom: 2px solid #2073A0;
      }

      .accordion-button:hover, .smaller-accordion-button:hover {
          background-color: #2073A0FF;
      }

      .accordion-content {
          display: none;
          padding: 15px;
          background-color: #e2f4ffff;
          border-top: 1px solid #e2f4ffff;
          text-align: left;
      }

      .tab-icon {
          margin-right: 10px;
          flex-shrink: 0; /* Prevent icon from shrinking */
      }

      .tab-image {
          display: block;
          margin-top: 10px;
          width: 100%; /* Full width */
          height: auto;
      }

      .vertical-tab-content {
          display: none;
      }
        /* New styles for smaller tabs with different color */
      .smaller-accordion-button {
        padding: 8px; /* 15% smaller padding */
        font-size: 75%; /* 15% smaller font size */
        background-color: #D0E9FC; /* Slightly different blue */
        border-color: #2073A0;
    </style>
  </head>
  <body>
    <!-- Accordion Section -->
    <div class="accordion-container">
      <button class="accordion-button" onclick="toggleAccordion('Tab1')">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/unik.png?v=1704495296"
          margin-right="10px;"
          width="20px"
          height="20px"
        >
        <strong>Därför är Elixir ett must have!</strong>
      </button>
      <div id="Tab1" class="accordion-content">
        <p>
          Dark Spots Eliminating Elixir är ett avancerat och unikt serum som har utvecklats med en koncentration på
          imponerande 33%. Serumet innehåller inte mindre än 16 olika aktiva ingredienser, kända för sin lugnande och
          reparerande förmåga. Dessa ingredienser samverkar på ett synergistiskt sätt för att snabbt och effektivt
          eliminera både hyperpigmentering och PIE (postinflammatorisk erytem, röda fläckar) utan att orsaka irritation.<br>
          <br>
          Formulan för Elixir inkluderar ingredienser som Next Generation Azelaic Acid, Tranexamic Acid, Aloe Vera,
          Nonapeptide-1, CBD, Madecassoside, Asiaticoside, Vitamin B5 och B3, Coenzym Q10 samt extrakt från gurkmeja,
          lakritsrot och kamomill. Dessa ingredienser agerar som lugnande medel för huden och minskar irritation som kan
          vara latent under hudens yta och inte alltid syns utåt. <br>
          <br>
          Vissa av de aktiva ingredienserna i Elixir har visat sig hämma enzymet Tyrosinase, som är ansvarigt för
          produktionen av mörka fläckar i aktiverade melanocyter. Tyrosinase blir mer aktivt specifikt vid hudskador
          eller utbrott av finnar. Genom att hämma Tyrosinase-enzymet minskar risken för att finnar och olika
          mikroskador ska resultera i mörka akneärr. <br>
          <br>
          Elixir innehåller även ämnen som minskar storleken på små blodkärl i huden, vilket reducerar förekomsten av
          röda fläckar och rodnad. Elixir är ett mångsidigt serum som också bidrar till att reglera talgproduktionen.
          Detta resulterar i mindre framträdande porer och minskar risken för finnar orsakade av igentäppta porer. Huden
          får en balanserad sebumproduktion och blir mindre oljig, samtidigt som den strålar av hälsa med en enastående
          lyster.
        </p>
      </div>

      <button class="accordion-button" onclick="toggleAccordion('Tab2')">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/anvandning.png?v=1704495295"
          margin-right="10px;"
          width="20px"
          height="20px"
        >
        <strong> Använding</strong>
      </button>
      <div id="Tab2" class="accordion-content">
        <p>
          Efter att ha rengjort ansiktet med Aloha och torkat det med en ren handduk, applicera Dark Spots Eliminating
          Elixir. Mängden Elixir du använder bör anpassas efter din hud och önskad effekt. Vanligtvis är 1-2 pumpar
          tillräckligt för att täcka hela ansiktet. Börja alltid med att använda endast 1 pump per dag i några veckor.
          För känslig hud eller vid osäkerhet, börja med 1/2 upp till 1 pump som du blandar med din fuktkräm innan
          applicering. <br>
          <br>
          Tips från Hudfixaren: För att uppnå optimal användning av Elixir, pumpa ut produkten i handflatan och använd
          ett finger för att applicera serumet på ansiktet. Det är mer effektivt än att gnugga Elixir mellan båda
          handflatorna, eftersom detta kan resultera i att en betydande del av serumet absorberas av händerna istället
          för ansiktet.
        </p>
      </div>

      <button class="accordion-button" onclick="toggleAccordion('Tab3')">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/inci.png?v=1704495296"
          margin-right="10px;"
          width="20px"
          height="20px"
        >
        <strong>Ingredienser</strong>
      </button>
      <div id="Tab3" class="accordion-content">
        <p>
          Aqua (Water),<b>
            Propanediol, Aloe Barbadensis Leaf Extract, Potassium Azeloyl Diglycinate, Niacinamide, Tranexamic Acid,
            Glycerin, Panthenol, Madecassoside, Asiaticoside, Ubiquinone, Ectoin, Curcuma Longa Root Extract, Matricaria
            Recutita Flower Extract, Glycyrrhiza Glabra Root Extract, Cannabidiol, Cannabis Sativa Seed Extract,
            Nonapeptide-1</b
          >, Propylene Glycol, Xanthan Gum, Disodium EDTA, Biosaccharide Gum-1, Phenylpropanol, Iodopropynyl
          Butylcarbamate.
        </p>
      </div>

      <button class="accordion-button" onclick="toggleAccordion('Tab4')">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/lakare_utan_granser.png?v=1704495296"
          margin-right="10px;"
          width="20px"
          height="20px"
        >
        <strong>Läkare utan gränser</strong>
      </button>
      <div id="Tab4" class="accordion-content">
        <p>
          Zero BS Beauty engagerar sig i att bidra till en bättre värld genom att donera 10 kr för varje såld produkt
          till Läkare Utan Gränser. Om du väljer att köpa vårt Zero BS Skin Set, som inkluderar alla tre av våra
          produkter, kommer vi att dubbla vår donation till 60kr per sålt set.<br>
          <br>
          Läkare Utan Gränser är en medicinsk humanitär organisation som fokuserar på att hjälpa de mest utsatta och
          sjuka i situationer där ingen annan kan. De agerar snabbt och effektivt i katastrofer och konflikter, och
          deras insatser inkluderar medicinsk vård, medicin samt livsmedelsdistribution.<br>
          <br>
          Det finns människor runt om i världen som varje dag behöver hjälp, och som en del av vårt åtagande kommer Zero
          BS Beauty att fortsätta att donera pengar för varje såld produkt så länge vårt företag existerar. För mer
          information om Läkare Utan Gränser och deras arbete, besök deras webbplats
          <a href="https://lakareutangranser.se/vad-vi-gor/sa-arbetar-vi" target="_blank"> <b>här</b></a
          >.
        </p>
      </div>
    </div>

    <!-- Break section -->
    <div class="break-section" style="text-align: center; margin-top: 10px; margin-bottom: 20px;">
      <img
        src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/vetenskap_1.png?v=1704561278"
        width="80px"
        height="80px"
        style="display: block; margin: 0 auto;"
      >
      <p>
        <b
          >Läs mer om vetenskapen bakom de <br>
          aktiva ämnen i serumet Elixir!</b
        >
      </p>
    </div>

    <div class="accordion-container">
      <button class="smaller-accordion-button" onclick="toggleAccordion('DetailTab5')">
        <strong>Potassium Azeloyl Diglycinate (PAD)</strong>
      </button>
      <div id="DetailTab5" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/acne_1.png?v=1704544541"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          En nästa generations ingrediens som ersätter den gamla Azelainsyra. Potassium Azeloyl Diglycinate (som också
          kallas PAD) är ett derivat av Azelainsyra som skapas genom att kombinera två Glycin molekyler med en
          Azelainsyra molekyl. Ingrediensen som skapas är PAD som är superior till den gamla Azelainsyra i många
          aspekter. Många studier har visat att PAD är väldigt effektiv mot hyperpigmenteringar och röda fläckar. PAD
          verkar även på röda partier i huden och normaliserar blodflödet till huden, vilket ger minskad rödhet och
          irritation i ansiktet.

          PAD har även antimikrobiella egenskaper som kan hämma tillväxten av skadliga bakterier på huden. Det leder
          till färre akneutbrott då bakterier kan orsaka finnar om de växer alltför mycket.

          Potassium Azeloyl Diglycinate (PAD) är vattenlöslig i höga koncentrationer i motsats till Azelainsyran. Det
          gör att PAD kan formuleras i serumform som kan absorberas snabbt av huden, Azelainsyra däremot oftast måste
          formuleras i silikoner som inte alls kan absorberas av huden eller kombineras med andra aktiva ämnen som kan
          öka Azelainsyrans effekt. PAD är dessutom mer stabil och skonsam än Azelainsyra, det gör att även de med
          väldigt känslig hud kan använda PAD dagligen. (1, 2, 3)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab6')">
        <strong>Tranexamic Acid</strong>
      </button>
      <div id="Tab6" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/skin-regeneration_e37e8802-8fb9-4397-94ae-38585e6b3f53.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          En fantastisk ingrediens som effektivt kan minska hyperpigmenteringen och inflammationen i huden. Tranexamsyra
          är inte en typisk exfolierande syra utan en skonsam och lugnande syra. Det har forskats ganska mycket på
          Tranexamsyrans effekt på huden och studierna har visat att den blockerar inflammatoriska cytokiner och andra
          kemiska mediatorer som vanligtvis framkallar inflammation i huden. <br>
          <br>
          Tranexamsyra har en sammandragande effekt på de små blodkärlen i huden, det leder till att röda fläckar som
          uppstår efter en finne blir mindre röda och försvinner med tid. Detta är då de röda fläckarna i huden
          innehåller många små blodkärl som är vidgade, Tranexamsyra kommer att tvinga de här blodkärlen att kontrahera
          och bli mindre vilket får bort röda fläckarna på huden. (4)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab7')">
        <strong>Nonapeptide-1</strong>
      </button>
      <div id="Tab7" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/protein-3_2f327029-9b1e-4319-b68e-ebfd90ef21cb.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          En väldigt exklusiv ingrediens som nyligen utvecklades för att minska hyperpigmentering och melasma.
          Nonapeptid-1 är en biologiskt aktiv peptid (ett litet protein) som har visat sig vara en a-MSH antagonist (i
          preliminära studier). a-MSH är ett hormon som orsakar hyperpigmenteringar och melasma då den stimulerar
          enzymet Tyrosinase i hudens melanocyter. Tyrosinas är ett enzym som producerar melanin, alltså pigment. <br>
          <br>
          När Tyrosinas stimuleras av a-MSH kommer det att producera för mycket melanin, vilket orsakar typiska
          hyperpigmenteringar och melasma. Nonapeptid-1 binder till Tyrosinas och förhindrar a-MSH från att binda till
          Tyrosinas och aktivera det. Det leder till att Tyrosinas hämmas och inte producerar för mycket pigment, detta
          minskar i sin tur hyperpigmenteringar och melasma. (5) Nonapeptid-1 är extremt dyr och exklusiv ingrediens som
          är svår att tillverka. Ett gram Nonapeptid-1 kostar ungefär 3 gånger mer än ett gram guld!
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab8')">
        <strong>Panthenol (Vitamin B5)</strong>
      </button>
      <div id="Tab8" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/panthenol_6179d568-e825-4723-8443-c4df41bca950.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          Panthenol är en form av Vitamin B5 som har många vetenskapliga studier som bevisar dess positiva effekt på
          huden. Den biologiskt aktiva formen av Panthenol heter Dexpanthenol och det är den formen som Zero BS Beauty
          använder. Alla andra former av Panthenol är inte biologiskt aktiva och gör ingenting för huden, därför är det
          viktigt att produkter med Panthenol innehåller specifikt Dexpanthenol och inte de andra billiga och
          icke-aktiva formerna.<br>
          <br>

          Panthenol är extremt effektiv på att reparera skadad hudbarriär och irriterad hud. Många studier har visat att
          Panthenol har sår läkande egenskaper, är lugnande och reparerande för huden och kan minska symtomen av Atopisk
          dermatit och perioral dermatit samt rödhet i huden. (6)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab9')">
        <strong>Niacinamide (Vitamin B3)</strong>
      </button>
      <div id="Tab9" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/vitamin-b_2b907640-8218-4f41-893c-2a04aca3036a.png?v=1704552258"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          Niacinamide reducerar den oxidativa stressen som uppstår till följd av ROS, den förbättrar extracellulära
          matrixet och reparerar hudbarriären. Niacinamide kan dessutom minska hyperpigmenteringarna i huden samtidigt
          som den reglerar talgproduktionen vilket får porerna att se förminskade ut. (7, 8)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab10')">
        <strong>CBD</strong>
      </button>
      <div id="Tab10" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/cbd-oil_19596ecb-4222-4bf0-8df6-193840ccb5cc.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          Lokal applicering av CBD på huden har enligt forskning visat sig minska proinflammatoriska cytokiner så som
          IL-6 och IL-17. De här cytokinerna framkallar inflammation vilket gör att huden blir irriterad och röd. Flera
          studier har visat att CBD i hudvård kan minska atopisk dermatit, psoriasis, irritation, akneärr och rödhet.
          CBD är en laglig ingrediens i Sverige när den används i hudvård. Man blir inte påverkad eller hög av CBD men
          din hud kommer bli lugnad och reparerad. CBD är 100% laglig att använda i hudvård i Sverige då den inte är
          psykoaktiv och påverkar inte hjärnan som THC. (9)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab11')">
        <strong>Madecassoside och Asiaticoside</strong>
      </button>
      <div id="Tab11" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/plant_1.png?v=1704553228"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          Centella Asiatica har många aktiva ämnen, de mest potenta är Madecassoside och Asiaticoside som har använts i
          sin koncentrerade form i det här Elixiret. De här två ingredienserna har visat sig ha läkande egenskaper för
          små sår på huden som till exempel kan uppstå när man får en finne. Förutom det så är de anti-inflammatoriska,
          barriär-reparerande, lugnande, och har ROS-neutraliserande. De här egenskaperna är associerade med att
          Madecassoside bland annat leder till minskning av inflammatoriska ämnen i huden så som IL-22, IL-17 och IL-23.
          (10)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab12')">
        <strong>Kamomill, Aloe Vera och Hampafrö extrakt</strong>
      </button>
      <div id="Tab12" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/chamomile_23fd2836-31b4-4b86-a139-72b853da3546.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          De här ingredienserna har visat sig öka hudens fuktnivåer, återställa och reparera hudbarriären samt hjälpa
          brännskadad hud att läka snabbt med minimal ärrbildning. Dessutom så hålls huden återfuktad länge och
          kollagenet skyddas från nedbrytning genom att fria radikaler neutraliseras. (11, 12)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab13')">
        <strong>Ubiquinone (Enzym Q10)</strong>
      </button>
      <div id="Tab13" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/q10_bdfecb64-2603-468f-a33c-ad035a004938.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          En väldigt stark antioxidant som finns naturligt i våra celler. Enzym Q10 är ett protein som bland annat
          skyddar vårt DNA från ROS- och UV-inducerade skador genom att neutralisera fria syreradikaler som bland annat
          uppstår i mitokondrierna. Detta leder till att färre hudceller dör vilket ger huden mindre rynkor och mer
          elasticitet i längden. (13)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab14')">
        <strong>Ectoin</strong>
      </button>
      <div id="Tab14" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/nourishing_3b5853e2-41aa-4f94-97a7-743dc43ec2d3.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          En ingrediens med överlägsna återfuktande och fukt-bindinade egenskaper. Ectoin kan binda fukt till huden
          under en lång tid, vilket ökar hudens återfuktning under hela dagen. Dn här ingrediensen är superior då den
          har visat sig skydda våra cellmembran mot surfaktanter. Det innebär att Ectoin kommer skydda cellmembranen när
          ansiktet tvättas vilket gör att vår hudbarriär inte blir förstörd. Det leder till att skadad hud kommer
          repareras snabbt och läka med mindre ärr. (14, 15)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab15')">
        <strong>Lakritsrotextrakt och Gurkmeja rotextrakt</strong>
      </button>
      <div id="Tab15" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/liquorice-2_65ccd5eb-f620-42c3-a415-102601a9adc1.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          De här två ingredienserna är kända för att ljusa upp huden och minska hyperpigmenteringar och röda
          pigmenteringar. De är dessutom antioxidanter som skyddar vår hud mot oxidativ stress vilket i sin tur hjälper
          huden att behålla sitt kollagen och elastin länge. (16, 17)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab16')">
        <strong>Källor</strong>
      </button>
      <div id="Tab16" class="accordion-content">
        <img
          src=" https://cdn.shopify.com/s/files/1/0728/9998/5757/files/sources.png?v=1704552260"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          <b>1.</b> Berardesca, E. et al. (2012). Effects of hydroxypropyl chitosan and potassium azeloyl diglycinate in
          rosacea. Journal of Cosmetic Dermatology, 11(1), 37-41. doi:10.1111/j.1473-2165.2011.00598.x <br>
          <br>

          <b>2.</b> Rohmani, S., Dinda, K., & Ainurofiq, A. (2021). Cream formulation with potassium azeloyl diglycinate
          as an anti-aging agent. Journal of Physics: Conference Series, 1912, 012041.
          doi:10.1088/1742-6596/1912/1/012041.
          <br>
          <br>

          <b>3.</b> J. Appl Cosmetol. 21, 177-188 (October/December 2003). <br>
          <br>

          <b>4.</b> Maeda K. Mechanism of Action of Topical Tranexamic Acid in the Treatment of Melasma and Sun-Induced
          Skin Hyperpigmentation. Cosmetics. 2022; 9(5):108. https://doi.org/10.3390/ <br>
          <br>

          <b>5.</b> Mohammed, Y.H. et al. (2017). Efficacy, safety, and targets in topical and transdermal delivery. In
          Percutaneous Penetration Enhancers: Drug Penetration Into/Through the Skin: Methodology and General
          Considerations (pp. 369-391). doi:10.1007/978-3-662-53270-6_23 <br>
          <br>

          <b>6.</b> Cho, Y.S. et al. (2022). Dexpanthenol for Atopic Dermatitis: Benefits and Recommendations. Journal
          of Clinical Medicine, 11(14), 3943. doi:10.3390/jcm11143943. <br>
          <br>

          <b>7.</b> Boo, Y.C. (2021). Nicotinamide for Skin Aging and Pigmentation. Antioxidants, 10(8), 1315.
          doi:10.3390/antiox10081315. <br>
          <br>

          <b>8.</b> Draelos, Z.D., Matsubara, A., & Smiles, K. (2006). Effect of 2% Niacinamide on Facial Sebum
          Production. doi:10.1080/14764170600717704. PMID: 16766489. <br>
          <br>

          <b>9.</b> Sivesind, T.E. & Maghfour, J (2022). Cannabinoids for the Treatment of Dermatologic Conditions. DOI:
          10.1016/j.xjidi.2022.100095. <br>
          <br>

          <b>10.</b> Tan, S.C. & Candasamy, M. (2021). Therapeutic Potential of Madecassoside and Constituents of
          Centella asiatica. Applied Sciences, 11(18), 8475. doi:10.3390/app11188475. <br>
          <br>

          <b>11.</b> Hekmatpou, D. et al. (2019). Effect of Aloe Vera Clinical Trials on Skin Wound Healing: A
          Systematic Review. Iranian Journal of Medical Sciences, 44(1), 1-9. <br>
          <br>

          <b>12.</b> Ferreira, E. & Reis, P. (2015). Topical effects of Chamomilla Recutita in skin damage: A literature
          review. Pharmacologyonline, 3, 123. <br>
          <br>

          <b>13.</b> Knott, A. et al. (2015). Topical treatment with Coenzyme Q10 improves skin's Q10 level and provides
          antioxidative effects. BioFactors, 41(6), 383-390. doi:10.1002/biof.1239. <br>
          <br>

          <b>14.</b> Graf, R. et al. (2008). The multifunctional role of ectoine as a natural cell protectant. Clinics
          in Dermatology, 26, 326-333. doi:10.1016/j.clindermatol.2008.01.002. <br>
          <br>

          <b>15.</b> Sajjad, W. et al. (2018). Ectoine as a compatible solute in Stenotrophomonas sp. WMA-LM19 to
          prevent UV-induced protein damage. J Appl Microbiol, 125(2), 457-467. doi:10.1111/jam.13903. <br>
          <br>

          <b>16.</b> Cerulli, A., Masullo, M., Montoro, P., & Piacente, S. (2022). Licorice and Its Constituents as
          Cosmeceutical Ingredients. Cosmetics, 9(1), 7. doi:10.3390/cosmetics9010007. <br>
          <br>

          <b>17.</b> Vaughn, A.R., Branum, A., & Sivamani, R.K. (2016). Effects of Turmeric on Skin Health: A Systematic
          Review. Phytother Res, 30(8), 1243-1264. doi:10.1002/ptr.5640. PMID: 27213821. <br>
          <br>
        </p>
      </div>
    </div>

    <div class="break-section" style="text-align: center; margin-top: 10px; margin-bottom: 1px;">
      <p><b>Låt våra kunder berätta vad de tycker om Zero BS Beauty!</b></p>
      <img
        src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/19_1.png?v=1704554366"
        width="160px"
        height="160px"
        style="display: block; margin: 0 auto; margin-bottom: 0;"
      >
    </div>
    <script>
      // Keep track of the last opened tab's top offset and element
      let lastOpenedTab = {
        offset: 0,
        element: null,
        id: ""
      };

      function closeTab(accordionContent) {
        if (accordionContent) {
          accordionContent.style.display = "none";
          accordionContent.previousElementSibling.classList.remove("active");
        }
      }

      function toggleAccordion(tabId) {
        // Get the accordion content to toggle
        var accordionToToggle = document.getElementById(tabId);

        // If clicking the same tab that's already open or its content, close it.
        if (lastOpenedTab.id === tabId || (lastOpenedTab.element && lastOpenedTab.element.contains(event.target))) {
          closeTab(lastOpenedTab.element);
          window.scrollTo(0, lastOpenedTab.offset);
          lastOpenedTab.element = null;
          lastOpenedTab.id = "";
          return;
        }

        // Close the currently open tab, if any.
        closeTab(lastOpenedTab.element);

        // Open the new tab and remember its position and ID.
        accordionToToggle.style.display = "block";
        accordionToToggle.previousElementSibling.classList.add("active");
        lastOpenedTab.element = accordionToToggle;
        lastOpenedTab.offset = window.pageYOffset;
        lastOpenedTab.id = tabId;
      }

      // Attach event listeners after the window has loaded
      window.onload = function () {
        // Event listener for accordion buttons
        var accordionButtons = document.querySelectorAll('.accordion-button, .smaller-accordion-button');
        accordionButtons.forEach(button => {
          button.onclick = function() {
            toggleAccordion(this.nextElementSibling.id);
          }
        });

        // Event listener for clicking inside the accordion content
        var accordionContents = document.getElementsByClassName("accordion-content");
        for (var i = 0; i < accordionContents.length; i++) {
          accordionContents[i].onclick = function() {
            toggleAccordion(this.id);
          }
        }
      };
    </script>
  </body>
</html>
