<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mix&Max Boosting Cream</title>
    <style>
      /* General Styles */
      .accordion-container, .vertical-tab-content-container {
          width: 100%;
      }

      .accordion-container {
          background-color: #e2f4ffff;
      }

      .accordion-button, .smaller-accordion-button {
          cursor: pointer;
          padding: 12px;
          border: 2px solid #2073A0; /* Your preferred border color */
          border-bottom: none;
          background-color: inherit;
          width: 100%;
          outline: none;
          transition: background-color 0.3s;
          display: flex;
          align-items: center;
          justify-content: flex-start; /* Align content to the left */
      }

      .accordion-button::after, .smaller-accordion-button::after {
          content: '↓';
          font-size: 15px;
          transition: transform 0.3s;
          margin-left: auto; /* Push the arrow to the right */
      }

      .accordion-button.active, .smaller-accordion-button.active {
          color: #000000;
          font-weight: bold;
          background-color: #e2f4ffff;
      }

      .accordion-button.active::after, .smaller-accordion-button.active::after {
          transform: rotate(90deg);
          color: #000000;
          font-weight: bold;
      }

      .accordion-button:last-of-type, .smaller-accordion-button:last-of-type {
          border-bottom: 2px solid #2073A0;
      }

      .accordion-button:hover, .smaller-accordion-button:hover {
          background-color: #2073A0FF;
      }

      .accordion-content {
          display: none;
          padding: 15px;
          background-color: #e2f4ffff;
          border-top: 1px solid #e2f4ffff;
          text-align: left;
      }

      .tab-icon {
          margin-right: 10px;
          flex-shrink: 0; /* Prevent icon from shrinking */
      }

      .tab-image {
          display: block;
          margin-top: 10px;
          width: 100%; /* Full width */
          height: auto;
      }

      .vertical-tab-content {
          display: none;
      }
        /* New styles for smaller tabs with different color */
      .smaller-accordion-button {
        padding: 8px; /* 15% smaller padding */
        font-size: 75%; /* 15% smaller font size */
        background-color: #D0E9FC; /* Slightly different blue */
        border-color: #2073A0;
    </style>
  </head>
  <body>
    <div class="accordion-container">
      <button class="accordion-button" onclick="toggleAccordion('Tab1')">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/unik.png?v=1704495296"
          margin-right="10px;"
          width="20px"
          height="20px"
        >
        <strong> Vad gör Mix&Max unik?</strong>
      </button>
      <div id="Tab1" class="accordion-content">
        <p>
          Mix&Max innehåller en kraftfull kombination av hela 18 aktiva ingredienser, noga utvalda för att ge din hud
          omfattande vård, förbättring och reparation. Dessa ingredienser utmärker sig genom sina antioxidativa
          egenskaper, deras förmåga att reparera hudbarriären, lugna irritation, återfukta huden och återställa
          balansen. <br>
          <br>
          Mix&Max är namnet som bäst beskriver denna kräm, då den ger dig möjligheten att Mixa den med dina andra krämer
          för att boosta och Maxa deras effekt med hjälp av bl.a Ceramider, Madecassoside, Asiaticoside, Vitamin B5,
          CBD, Grönt te, Ectoin, Kamomill, Allantoin samt Aloe Vera. Krämen kan dessutom användas själv om du önskar
          det. <br>
          <br>
          Den här krämen skapar en osynlig och silkeslen hinna på huden som fungerar som en barriär mot skadliga yttre
          påverkningar och föroreningar. Samtidigt påskyndar den reparationsprocessen i de irriterade hudlagren. Detta
          resulterar i att finnar och rodnad känns lugnare och minskar i synlighet, med en minskad risk för ärrbildning
          eller missfärgning på huden.
        </p>
      </div>

      <button class="accordion-button" onclick="toggleAccordion('Tab2')">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/anvandning.png?v=1704495295"
          margin-right="10px;"
          width="20px"
          height="20px"
        >
        <strong> Använding</strong>
      </button>
      <div id="Tab2" class="accordion-content">
        <p>
          Applicera 2-3 pumpar av Mix&Max Boosting Cream över hela ansiktet direkt efter dina serum. Om du föredrar att
          blanda Mix & Max direkt med din favoritkräm, använd 1-2 pumpar och applicera sedan på ansiktet. <br>
          <br>
          Mix&Max hjälper din andra favorit kräm att bli bättre och mer effektiv! Sedan kan du applicera solskydd på
          morgonen efter Mix&Max Boosting Cream, följt av ditt smink om du önskar.
        </p>
      </div>

      <button class="accordion-button" onclick="toggleAccordion('Tab3')">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/inci.png?v=1704495296"
          margin-right="10px;"
          width="20px"
          height="20px"
        >
        <strong>Ingredienser</strong>
      </button>
      <div id="Tab3" class="accordion-content">
        <p>
          Aqua (Water), Butylene Glycol, Propanediol,<b> Panthenol</b>, Propylene Glycol, PEG-100 Stearate,
          Cyclopentasiloxane, Cetyl Palmitate, Glyceryl Stearate, Dicaprylyl Carbonate,
          <b
            >Hyaluronic Acid, Lactobacillus Ferment, Cannabadiol, Ceramide AP, Ceramide NP, Madecassoside, Asiaticoside,
            Ubiquinone, Aloe Barbadensis Leaf Extract, Camellia Sinensis Leaf Extract, Glycyrrhiza Glabra Root Extract,
            Matricaria Recutita Flower Extract, Curcuma Longa Root Extract, Allantoin, Simmondsia Chinensis Seed Oil,
            Ectoin, Cannabis Sativa Seed Extract</b
          >, Cetyl Alcohol, Acrylates/C10-30 Alkyl Acrylate Crosspolymer, Isostearyl Isostearate, Caprylyl Methicone,
          Potassium Cetyl Phosphate, Xanthan Gum, Disodium EDTA, Phenylpropanol, Iodopropynyl Butylcarbamate.
        </p>
      </div>

      <button class="accordion-button" onclick="toggleAccordion('Tab4')">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/lakare_utan_granser.png?v=1704495296"
          margin-right="10px;"
          width="20px"
          height="20px"
        >
        <strong>Läkare utan gränser</strong>
      </button>
      <div id="Tab4" class="accordion-content">
        <p>
          Zero BS Beauty engagerar sig i att bidra till en bättre värld genom att donera 10 kr för varje såld produkt
          till Läkare Utan Gränser. Om du väljer att köpa vårt Zero BS Skin Set, som inkluderar alla tre av våra
          produkter, kommer vi att dubbla vår donation till 60kr per sålt set.<br>
          <br>
          Läkare Utan Gränser är en medicinsk humanitär organisation som fokuserar på att hjälpa de mest utsatta och
          sjuka i situationer där ingen annan kan. De agerar snabbt och effektivt i katastrofer och konflikter, och
          deras insatser inkluderar medicinsk vård, medicin samt livsmedelsdistribution.<br>
          <br>
          Det finns människor runt om i världen som varje dag behöver hjälp, och som en del av vårt åtagande kommer Zero
          BS Beauty att fortsätta att donera pengar för varje såld produkt så länge vårt företag existerar. För mer
          information om Läkare Utan Gränser och deras arbete, besök deras webbplats
          <a href="https://lakareutangranser.se/vad-vi-gor/sa-arbetar-vi" target="_blank"> <b>här</b></a
          >.
        </p>
      </div>
    </div>

    <!-- Break section -->
    <div class="break-section" style="text-align: center; margin-top: 10px; margin-bottom: 20px;">
      <img
        src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/vetenskap_1.png?v=1704561278"
        width="80px"
        height="80px"
        style="display: block; margin: 0 auto;"
      >
      <p>
        <b
          >Läs mer om vetenskapen bakom de <br>
          aktiva ämnen i Mix&Max:</b
        >
      </p>
    </div>

    <div class="accordion-container">
      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab5')">
        <strong>CBD</strong>
      </button>
      <div id="Tab5" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/cbd-oil_19596ecb-4222-4bf0-8df6-193840ccb5cc.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          Lokal applicering av CBD på huden har enligt forskning visat sig minska proinflammatoriska cytokiner så som
          IL-6 och IL-17. De här cytokinerna framkallar inflammation vilket gör att huden blir irriterad och röd. Flera
          studier har visat att CBD i hudvård kan minska atopisk dermatit, psoriasis, irritation, akneärr och rödhet.
          CBD är en laglig ingrediens i Sverige när den används i hudvård. Man blir inte påverkad eller hög av CBD men
          din hud kommer bli lugnad och reparerad. CBD är 100% laglig att använda i hudvård i Sverige då den inte är
          psykoaktiv och påverkar inte hjärnan som THC. (1)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab6')">
        <strong>Ceramide AP och Ceramide NP</strong>
      </button>
      <div id="Tab6" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/protein_bd0b128a-dd05-40c7-9c72-33b61f22ce37.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          Ceramider är lipidmolekyler som naturligt finna i våra cellmembran. I kosmetika produkter är Ceramider en av
          de mest exklusiva ingredienserna på marknaden då de är väldigt svåra att producera och stabilisera, vilket gör
          dem väldigt dyra. Ceramider är en av de bästa ingredienserna för en hälsosam och reparerad hudbarriär då de
          minskar TEWL (fuktförlusten i huden) vilket plumpar upp huden och minskar risken för irritation. <br>
          <br>

          Ceramider är en av de få ingredienserna som behandlar orsakerna till torrhet från grunden genom att tillföra
          lipider till hudens Stratum Corneum som ökar hudens fukt markant under en lång tid.

          Forskning har visat att torr hud kan vara en av orsakerna till många hudåkommor så som akne, eksem och
          dermatit. Genom att använda Ceramider kan hudåkommorna minskas då huden blir mer balanserad och återfuktad.
          (2)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab7')">
        <strong>Panthenol (Vitamin B5)</strong>
      </button>
      <div id="Tab7" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/panthenol_6179d568-e825-4723-8443-c4df41bca950.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          Panthenol är en form av Vitamin B5 som har många vetenskapliga studier som bevisar dess positiva effekt på
          huden. Den biologiskt aktiva formen av Panthenol heter Dexpanthenol och det är den formen som Zero BS Beauty
          använder. Alla andra former av Panthenol är inte biologiskt aktiva och gör ingenting för huden, därför är det
          viktigt att produkter med Panthenol innehåller specifikt Dexpanthenol och inte de andra billiga och
          icke-aktiva formerna.<br>
          <br>

          Panthenol är extremt effektiv på att reparera skadad hudbarriär och irriterad hud. Många studier har visat att
          Panthenol har sår läkande egenskaper, är lugnande och reparerande för huden och kan minska symtomen av Atopisk
          dermatit och perioral dermatit samt rödhet i huden. (3)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab8')">
        <strong>Hyaluronsyra</strong>
      </button>
      <div id="Tab8" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/nourishing_3b5853e2-41aa-4f94-97a7-743dc43ec2d3.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          Hyaluronsyra kan binda upp till 1000 gånger sin egen vikt med vatten. Det innebär att hyaluronsyra kommer
          skapa ett fuktlager på huden som återfuktar konstant förutsatt att hyaluronsyra koncentrationen inte är
          alldeles för hög. Eftersom Hyaluronsyra kan binda fukt extremt effektivt så kan den faktiskt dra ut fukten i
          din hud om den appliceras i en hög koncentration. <br>
          <br>
          Det innebär att den här ingrediensen kan göra din hud mer torr om du använder en produkt med mycket
          hyaluronsyra. Mix & Max har en optimal koncentration av Hyaluronsyra som säkerställer att hudens blir
          återfuktad och inte mer torr. Hyaluronsyra kan även minska utseendet av rynkor genom att plumpa upp huden med
          fukt, vilket gör att rynkorna blir mindre djupa. (4)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab9')">
        <strong>Ectoin</strong>
      </button>
      <div id="Tab9" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/nourishing_3b5853e2-41aa-4f94-97a7-743dc43ec2d3.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          En ingrediens med överlägsna återfuktande och fukt-bindinade egenskaper. Ectoin kan binda fukt till huden
          under en lång tid, vilket ökar hudens återfuktning under hela dagen. Dn här ingrediensen är superior då den
          har visat sig skydda våra cellmembran mot surfaktanter. Det innebär att Ectoin kommer skydda cellmembranen när
          ansiktet tvättas vilket gör att vår hudbarriär inte blir förstörd. Det leder till att skadad hud kan reparera
          sig snabbt och läka med mindre ärr. (5, 6)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab10')">
        <strong>Allantoin</strong>
      </button>
      <div id="Tab10" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/borage_00de5ce0-765f-42e6-bd2d-c8e7a5b26866.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          Forskning har visat att Allantoin ökar celldelningen av friska hudceller samtidigt som den hämmar
          inflammationen i huden och i sår. Det innebär att läkning av irriterad hud går snabbare då nya friska
          hudceller skapas snabbt och inflammationen som skadar huden minskas samtidigt. Detta leder till att sår som
          uppstår efter en finne försvinner snabbare och blir mindre benägna att lämna ärr efteråt. (7)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab11')">
        <strong>Madecassoside och Asiaticoside</strong>
      </button>
      <div id="Tab11" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/plant_1.png?v=1704553228"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          Centella Asiatica har många aktiva ämnen, de mest potenta är Madecassoside och Asiaticoside som har använts i
          sin koncentrerade form i det här Elixiret. De här två ingredienserna har visat sig ha läkande egenskaper för
          små sår på huden som till exempel kan uppstå när man får en finne. Förutom det så är de anti-inflammatoriska,
          barriär-reparerande, lugnande, och har ROS-neutraliserande. De här egenskaperna är associerade med att
          Madecassoside bland annat leder till minskning av inflammatoriska ämnen i huden så som IL-22, IL-17 och IL-23.
          (8)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab12')">
        <strong>Kamomill, Aloe Vera och Hampafrö extrakt</strong>
      </button>
      <div id="Tab12" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/chamomile_23fd2836-31b4-4b86-a139-72b853da3546.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          De här ingredienserna har visat sig öka hudens fuktnivåer, återställa och reparera hudbarriären samt hjälpa
          brännskadad hud att läka snabbt med minimal ärrbildning. Dessutom så hålls huden återfuktad länge och
          kollagenet skyddas från nedbrytning genom att fria radikaler neutraliseras. (9, 10)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab13')">
        <strong>Ubiquinone (Enzym Q10)</strong>
      </button>
      <div id="Tab13" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/q10_bdfecb64-2603-468f-a33c-ad035a004938.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          En väldigt stark antioxidant som finns naturligt i våra celler. Enzym Q10 är ett protein som bland annat
          skyddar vårt DNA från ROS- och UV-inducerade skador genom att neutralisera fria syreradikaler som bland annat
          uppstår i mitokondrierna. Detta leder till att färre hudceller dör vilket ger huden mindre rynkor och mer
          elasticitet i längden. (11)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab15')">
        <strong>Lakritsrotextrakt och Gurkmeja rotextrakt</strong>
      </button>
      <div id="Tab15" class="accordion-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/liquorice-2_65ccd5eb-f620-42c3-a415-102601a9adc1.png?v=1704552259"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          De här två ingredienserna är kända för att ljusa upp huden och minska hyperpigmenteringar och röda
          pigmenteringar. De är dessutom antioxidanter som skyddar vår hud mot oxidativ stress vilket i sin tur hjälper
          huden att behålla sitt kollagen och elastin länge. (12, 13)
        </p>
      </div>

      <button class="smaller-accordion-button" onclick="toggleAccordion('Tab16')">
        <strong>Källor</strong>
      </button>
      <div id="Tab16" class="accordion-content">
        <img
          src=" https://cdn.shopify.com/s/files/1/0728/9998/5757/files/sources.png?v=1704552260"
          width="50px"
          height="50px"
          style="display: block; margin: 0 auto;"
        >
        <p>
          <b>1.</b> Sivesind, T.E. & Maghfour, J (2022). Cannabinoids for the Treatment of Dermatologic Conditions. DOI:
          10.1016/j.xjidi.2022.100095. <br>
          <br>

          <b>2.</b> Lynde CW, Andriessen A, Barankin B, Gannes GD, Gulliver W, Haber R, McCuaig C, Rajan P, Skotnicki
          SP, Thomas R, Toole J, Vender R. Moisturizers and Ceramide-containing Moisturizers May Offer Concomitant
          Therapy with Benefits. J Clin Aesthet Dermatol. 2014 Mar;7(3):18-26. PMID: 24688622; PMCID: PMC3970828.
          <br>
          <br>

          <b>3.</b> Cho, Y.S. et al. (2022). Dexpanthenol for Atopic Dermatitis: Benefits and Recommendations. Journal
          of Clinical Medicine, 11(14), 3943. doi:10.3390/jcm11143943 <br>
          <br>

          <b>4.</b> Pavicic T, Gauglitz GG, Lersch P, Schwach-Abdellaoui K, Malle B, Korting HC, Farwick M. Efficacy of
          cream-based novel formulations of hyaluronic acid of different molecular weights in anti-wrinkle treatment. J
          Drugs Dermatol. 2011 Sep;10(9):990-1000. PMID: 22052267.<br>
          <br>

          <b>5.</b> Graf, R. et al. (2008). The multifunctional role of ectoine as a natural cell protectant. Clinics in
          Dermatology, 26, 326-333. doi:10.1016/j.clindermatol.2008.01.002. <br>
          <br>

          <b>6.</b> Sajjad, W. et al. (2018). Ectoine as a compatible solute in Stenotrophomonas sp. WMA-LM19 to prevent
          UV-induced protein damage. J Appl Microbiol, 125(2), 457-467. doi:10.1111/jam.13903. <br>
          <br>

          <b>7.</b> Amy Paller (June 2017), Northwestern University Feinberg School, An investigation into multifaceted
          mechanisms of action of allantoin in wound healing. <br>
          <br>

          <b>8.</b> Tan, S.C. & Candasamy, M. (2021). Therapeutic Potential of Madecassoside and Constituents of
          Centella asiatica. Applied Sciences, 11(18), 8475. <br>
          <br>

          <b>9.</b> Hekmatpou, D. et al. (2019). Effect of Aloe Vera Clinical Trials on Skin Wound Healing: A Systematic
          Review. Iranian Journal of Medical Sciences, 44(1), 1-9. <br>
          <br>

          <b>10.</b> Ferreira, E. & Reis, P. (2015). Topical effects of Chamomilla Recutita in skin damage: A literature
          review. Pharmacologyonline, 3, 123. <br>
          <br>

          <b>11.</b> Knott, A. et al. (2015). Topical treatment with Coenzyme Q10 improves skin's Q10 level and provides
          antioxidative effects. BioFactors, 41(6), 383-390. doi:10.1002/biof.1239. <br>
          <br>

          <b>12.</b> Cerulli, A., Masullo, M., Montoro, P., & Piacente, S. (2022). Licorice and Its Constituents as
          Cosmeceutical Ingredients. Cosmetics, 9(1), 7. doi:10.3390/cosmetics9010007. <br>
          <br>

          <b>13.</b> Vaughn, A.R., Branum, A., & Sivamani, R.K. (2016). Effects of Turmeric on Skin Health: A Systematic
          Review. Phytother Res, 30(8), 1243-1264. doi:10.1002/ptr.5640. PMID: 27213821. <br>
          <br>
        </p>
      </div>
    </div>

    <div class="break-section" style="text-align: center; margin-top: 10px; margin-bottom: 1px;">
      <p><b>Låt våra kunder berätta vad de tycker om Zero BS Beauty!</b></p>
      <img
        src="https://cdn.shopify.com/s/files/1/0728/9998/5757/files/19_1.png?v=1704554366"
        width="160px"
        height="160px"
        style="display: block; margin: 0 auto; margin-bottom: 0;"
      >
    </div>
    <script>
      // Keep track of the last opened tab's top offset and element
      let lastOpenedTab = {
        offset: 0,
        element: null,
        id: ""
      };

      function closeTab(accordionContent) {
        if (accordionContent) {
          accordionContent.style.display = "none";
          accordionContent.previousElementSibling.classList.remove("active");
        }
      }

      function toggleAccordion(tabId) {
        // Get the accordion content to toggle
        var accordionToToggle = document.getElementById(tabId);

        // If clicking the same tab that's already open or its content, close it.
        if (lastOpenedTab.id === tabId || (lastOpenedTab.element && lastOpenedTab.element.contains(event.target))) {
          closeTab(lastOpenedTab.element);
          window.scrollTo(0, lastOpenedTab.offset);
          lastOpenedTab.element = null;
          lastOpenedTab.id = "";
          return;
        }

        // Close the currently open tab, if any.
        closeTab(lastOpenedTab.element);

        // Open the new tab and remember its position and ID.
        accordionToToggle.style.display = "block";
        accordionToToggle.previousElementSibling.classList.add("active");
        lastOpenedTab.element = accordionToToggle;
        lastOpenedTab.offset = window.pageYOffset;
        lastOpenedTab.id = tabId;
      }

      // Attach event listeners after the window has loaded
      window.onload = function () {
        // Event listener for accordion buttons
        var accordionButtons = document.querySelectorAll('.accordion-button, .smaller-accordion-button');
        accordionButtons.forEach(button => {
          button.onclick = function() {
            toggleAccordion(this.nextElementSibling.id);
          }
        });

        // Event listener for clicking inside the accordion content
        var accordionContents = document.getElementsByClassName("accordion-content");
        for (var i = 0; i < accordionContents.length; i++) {
          accordionContents[i].onclick = function() {
            toggleAccordion(this.id);
          }
        }
      };
    </script>
  </body>
</html>
