{%- liquid
  assign section_color = section.settings.color_scheme | default: 'primary'
  assign desktop_layout = section.settings.desktop_layout
  assign enable_cascade_on_mobile = section.settings.enable_cascade_on_mobile
  assign sequence = section.settings.sequence

  if section.settings.variance == 'global'
    assign variance = settings.variance
  else
    assign variance = section.settings.variance
  endif

  if section.settings.spacing == 'global'
    assign spacing = settings.cascade_item_spacing
  else
    assign spacing = section.settings.spacing
  endif

  assign sizes = '75vw (min-width: 768px), 50vw'
  assign full_width_item_header = '||__cascade-item:full__||'
  assign item_separator = '||__cascade-item-end__||'

  if section.blocks.size > 0
    assign items = section.blocks
    assign using_blocks = true
  else
    assign items = collections
  endif
-%}

<section class="{% unless section.settings.remove_top_padding %}pt-section{% endunless %} {% unless section.settings.remove_bottom_padding %}pb-section{% endunless %} text-scheme-text bg-scheme-background" data-color-scheme="{{ section_color }}">
  <div class="max-w-site mx-auto px-5 lg:px-10">
    <div class="relative">
      {% if section.settings.title != blank %}
        {%- render 'cascade-heading', title: section.settings.title, overlay_heading: section.settings.overlay_heading -%}
      {% endif %}
      {% liquid
        capture collection_items
          for item in items
            if using_blocks
              assign collection = item.settings.collection
              assign subheading = item.settings.subheading
            else
              assign collection = item
            endif

            if section.settings.feature_full_width_collections
              cycle full_width_item_header, '', ''
            endif 
            assign image = collection.image | default: collection.products.first.featured_image
            assign placeholder_title = 'sections.onboarding.collection_title' | t
            assign placeholder_index = placeholder_index | modulo: 6 | plus: 1
            assign placeholder_name = 'collection-' | append: placeholder_index
            assign text = collection.title | default: placeholder_title
            assign text_scheme = section.settings.color_scheme
            assign link = collection.url
            echo '<div data-media-item>'
            render 'image-or-collection-item', sizes: sizes, image: image, text: text, subheading: subheading, link: link, text_scheme: text_scheme, placeholder_key: placeholder_name
            echo '</div>'
            echo item_separator
          endfor
        endcapture
      %}
      {% render 'cascade',
        content_items: collection_items,
        first_block_position: section.settings.first_collection_position,
        alternate_first_block_position: true,
        variance: variance,
        spacing: spacing,
        desktop_layout: desktop_layout,
        enable_cascade_on_mobile: enable_cascade_on_mobile,
        sequence: sequence
      %}
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "checkbox",
      "id": "feature_full_width_collections",
      "label": "Feature full width collections",
      "info": "Enable this setting to showcase a mix of collections at half width and full width. [Learn more](https://help.switchthemes.co)",
      "default": true
    },
    {
      "type": "radio",
      "id": "desktop_layout",
      "label": "Desktop layout",
      "default": "two_columns",
      "options": [
        {
          "value": "single_column",
          "label": "Single column"
        },
        {
          "value": "two_columns",
          "label": "Two columns"
        }
      ]
    },
    {
      "type": "radio",
      "id": "first_collection_position",
      "label": "First collection position",
      "options": [
        {
          "value": "left",
          "label": "Top left"
        },
        {
          "value": "right",
          "label": "Top right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_cascade_on_mobile",
      "label": "Enable cascade layout on mobile",
      "default": true
    },
    {
      "type": "select",
      "id": "spacing",
      "label": "Vertical space between items",
      "options": [
        {
          "value": "global",
          "label": "Same as theme settings"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "global"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Adjust variation and sequence of media sizes to create unique layouts. [Learn more](https://help.switchthemes.co/)"
    },
    {
      "type": "select",
      "id": "variance",
      "label": "Variation between media sizes",
      "options": [
        {
          "value": "global",
          "label": "Same as theme settings"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "low",
          "label": "Low"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "high",
          "label": "High"
        }
      ],
      "default": "global"
    },
    {
      "type": "range",
      "id": "sequence",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Sequence",
      "default": 1
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "tertiary",
          "label": "Tertiary"
        }
      ]
    },
    {
      "type": "header",
      "content": "Spacing",
      "info": "Adjust vertical spacing to visually connect this section to adjacent sections"
    },
    {
      "type": "checkbox",
      "id": "remove_top_padding",
      "label": "Remove top padding",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_bottom_padding",
      "label": "Remove bottom padding",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Featured collection"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "id": "subheading",
          "type": "richtext",
          "label": "Subheading",
          "default": "<p>Use this text to share information about your collection.</p>"
        }
      ]
    }
  ]
}
{% endschema %}