.box {
  height: 0;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}

.box.portrait {
  padding-top: 133.3%;
}

.box.landscape {
  padding-top: 66.6%;
}

.box--large {
  padding-top: 40%;
}