.form__errors {

    margin-left: 0px;

    margin-right: 0px;

    border-width: 1px;

    border-color: rgb(var(--color-scheme-accent) / 0.4);

    background-color: rgb(var(--color-scheme-accent) / 0.1);

    padding: 0.75rem;

    --tw-text-opacity: 1;

    color: rgb(var(--color-scheme-accent) / var(--tw-text-opacity))
}

.form__errors:not(.form__errors--compact) {

    margin-bottom: 1.25rem
}

.form__errors ul {

    margin: 0px;

    list-style-type: none;

    padding: 0px
}

.form__errors a {

    --tw-text-opacity: 1;

    color: rgb(var(--color-scheme-accent) / var(--tw-text-opacity));

    text-decoration-line: underline
}
